<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>PepGNU | Lista Repsitorio</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />
  </head>
  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/gallery/logo-n.png" height="45" alt="logo" />RepGNU</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="#">Inicio</a></li>
              <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#">Acerca de </a></li>
              <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#">Contacto</a></li>
            </ul><a class="btn btn-primary order-1 order-lg-0" href="#!">Sign Up</a>
        
            
          </div>
        </div>
      </nav>
      <section class="pt-6 bg-600">

        <div class="container">
          <div class="row align-items-center">
            <div class=" py-6">
              <h4 class="font-sans-serif">Bienvenido</h4>
              <h5 class="mb-5">Explora los diferentes recursos disponibles en la plataforma</h5>
            </div>
          </div>
        </div>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" style="margin-top:-5.8rem">
        <div class="container">
          <div class="row">
            <div class="card card-span bg-secondary">
              <div class="card-body">
                <div class="row flex-center gx-0">
                  <div class="col-lg-4 col-xl-2 text-center text-xl-start"><img src="assets/img/gallery/searching.png" width="50" alt="..." /></div>
                  <form class="d-flex my-3 d-block">
                    <input class="form-control" type="Buscar" placeholder="Buscar" aria-label="Buscar" />
                    <button class="btn btn-outline-primary" type="Buscar">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>
     
        <div class="container">
          <div class="row ">
            <div class="col-lg-2 ">
              <div class="card">
                <div class="card-body px-4 py-6 py-md-5 py-lg-6">
                  <p class="text-muted mb-2 my-md-3">Temas Relacionados</p>
                  <hr class="border border-1" />
                  <ul class="list-unstyled">
                    <li class="mb-3"><i class=" text-info me-2"></i><a class="nav-link" aria-current="page" href="#">Sociales</a></li>
                    <li class="mb-3"><i class=" text-info me-2"></i><a class="nav-link" aria-current="page" href="#">Matemáticas</a></li>
                    <li class="mb-3"><i class=" text-info me-2"></i><a class="nav-link" aria-current="page" href="#">Ciencias </a></li>
                    <li class="mb-3"><i class=" text-info me-2"></i><a class="nav-link" aria-current="page" href="#">Tecnología </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-8 col-lg-10">
              <div class="col-lg-12 flex-center d-flex">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cursos</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Recursos</button>
                  </div>
                </nav>
              </div>
                
              <div class="row tab-content"  id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">.1

                  <div class="col-md-12 mb-4">
                    <div class="card  bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="assets/img/gallery/art-design.png" width="200" alt="courses" /></div>
                          <div class="col-lg-8 col-xl-9">
                            <h5 class="font-sans-serif fw-bold">Física clásica </h5>
                            <h6 class="font-sans-serif fw-bold">Hecho Por:</h6>
                            <p class="text-muted fs--1">Edison Huinaizaca </p>
                            <h6 class="font-sans-serif fw-bold">Fecha publicación</h6>
                            <p class="text-muted fs--1">20-20-2020</p>
                            <h6 class="font-sans-serif fw-bold">Temas relacionados</h6>
                            <p class="text-muted fs--1">Física-matemáticas</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mb-4">
                    <div class="card bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="assets/img/gallery/art-design.png" width="200" alt="courses" /></div>
                          <div class="col-lg-8 col-xl-9">
                            <h5 class="font-sans-serif fw-bold">Física clásica </h5>
                            <h6 class="font-sans-serif fw-bold">Hecho Por:</h6>
                            <p class="text-muted fs--1">Edison Huinaizaca </p>
                            <h6 class="font-sans-serif fw-bold">Fecha publicación</h6>
                            <p class="text-muted fs--1">20-20-2020</p>
                            <h6 class="font-sans-serif fw-bold">Temas relacionados</h6>
                            <p class="text-muted fs--1">Física-matemáticas</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">.2

                  <div class="col-md-12 mb-4">
                    <div class="card bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="assets/img/gallery/art-design.png" width="200" alt="courses" /></div>
                          <div class="col-lg-8 col-xl-9">
                            <h5 class="font-sans-serif fw-bold">Guia </h5>
                            <h6 class="font-sans-serif fw-bold">Titulo:</h6>
                            <p class="text-muted fs--1">Física clásica </p>
                            <h6 class="font-sans-serif fw-bold">Temas relacionados</h6>
                            <p class="text-muted fs--1">Física-matemáticas</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
        <!-- end of .container-->

      </section>
      <section class="bg-secondary">

        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img src="assets/img/gallery/footer-logo.png" height="51" alt="" /></a>
              <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light"> cuenca,Ecuador &nbsp;</span><a class="text-light" href="tel:+604-680-9785">+09-999-9999</a><br />EC</p>
              <p class="text-light"> <i class="fas fa-envelope me-3"> </i><a class="text-light" href="mailto:vctung@outlook.com">edisonezequiel@gmail.com </a></p>
              <p class="text-light"> <i class="fas fa-phone-alt me-3"></i><a class="text-light" href="tel:1-800-800-2299">1-800-9999-9999 (Support)</a></p>
            </div>
           
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Informations</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200" href="#!">Inicio</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Acerca de</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <section class="py-0" style="margin-top: -5.8rem;">
        <div class="container bg-primary">
          <div class="row justify-content-md-between justify-content-evenly py-4">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
              <p class="fs--1 my-2 fw-bold">RepGNU &copy; T.E.H, 2022</p>
            </div>
               <div class="col-auto ms-md-auto order-md-2 d-none d-sm-block">
              <ul class="list-unstyled list-inline my-2">
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-f text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-linkedin text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-github text-900"> </i></a></li>
              </ul>
            </div>
          </div>
        </div>
        
      </section>
    </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>