
{% extends 'core/base.html'%}
{% block headers%}
  <h6>Informacion</h6>
  <h2>Acerca de</h2>
{% endblock%}  
{% block content%}
  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Misión</h3>
                <p>Desarrollar una aplicación web para el alojamiento de recursos académicos de profesores y alumnos de la UPS.</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Mas informacion en</a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Visión</h3>
                <p>El desarrollo de esta aplicación web está enfocado en los estudiantes y maestros  que necesitan acceder a diferentes materiales educativos
                 tanto para autoaprendizaje o revisión de temas enfocados en los diferentes cursos .</p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#contact">Mas informacion en</a></div>
              </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </section>
{% endblock%}  

 