<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Repositorio</title>
    {% load static%}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'core/assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'core/assets/css/template-Rep.css'%}">
    <link rel="stylesheet" href="{% static 'core/assets/css/owl.css'%}">
    <link rel="stylesheet" href="{% static 'core/assets/css/lightbox.css'%}">
    <link rel="stylesheet" href="{% static 'core/assets/css/search.css'%}">

  </head>
  <body>
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <a href="{%url 'home'%}" class="logo">Proyecto Repocitorio</a>
                <ul class="nav">
                  <li><a href="{% url 'home' %}" class="active">Inicio</a></li>
                  <li><a href="{% url 'about' %}">acerca de</a></li>  
                  <li><a href="{% url 'contac' %}">Contacto</a></li> 
                </ul>        
              <a class='menu-trigger'>
                <span>Menu</span>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
    <section class="contact-us" id="contact">
      <div class="footer">
        <footer class="footer-distributed">
          <div class="footer-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
          </div>
          <div class="categories">
            <p class="footer-links">
              <a class="link-1" href="{%url 'home'%}">Inicio</a> -
              <a href="{%url 'contac'%}">Contacto</a> -
              <a href="{%url 'about'%}">Aserca de</a>
            </p>
            <p>Nombre compania&copy; 2022</p>
          </div>
        </footer>
      </div>
    </section>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'core/assets/js/isotope.min.js'%}"></script>
    <script src="{% static 'core/assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'core/assets/js/lightbox.js'%}"></script>
    <script src="{% static 'core/assets/js/tabs.js'%}"></script>
    <script src="{% static 'core/assets/js/video.js'%}"></script>
    <script src="{% static 'core/assets/js/slick-slider.js'%}"></script>
    <script src="{% static 'core/assets/js/custom.js'%}"></script>   
  </body>
</html>