

{% extends 'core/base.html'%}
{% load static%}
{% block content%}
<section>
  <div class="container">   
    <h1 class="mb-6 text-primary">Privacidad y términos de uso</h1>
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4 mb-5"><img src="{% static 'core/assets/img/gallery/cta.png' %}" width="280" alt="cta" /></div>
        <div class="col-md-12 col-lg-8 mb-10">              
          <p>Los siguientes avisos y licencias comprenden en conjunto la licencia R.A.e.p </p>
          <h1 class="my-4">Privacidad</h1>
          <p>
            El siguiente repositorio web respeta su privacidad. No recopilamos información de identificación personal sobre usted a menos que la 
            proporcione voluntariamente, como cuando proporciona información de contacto de correo electrónico para suscribirse o responder a una encuesta.
            Si proporciona voluntariamente su dirección de correo electrónico u otra información de contacto, también podemos usarla para informarle sobre
            cambios en el repositorio, para encuestarlo sobre su uso u opinión del repositorio, o para solicitar su apoyo. Si lo solicita, eliminaremos su 
            información de contacto de nuestros archivos.
          </p>
          <p>
            No ponemos su información de contacto ni ninguna otra información de identificación personal a disposición de nadie fuera del proyecto RAep o 
            sus proveedores de servicios (que usan la información solo para fines autorizados por RAep ) a menos que estemos legalmente obligados a hacerlo.
            Además de lo anterior, recopilamos cierta información anónima (no identificable personalmente) para ayudarnos a mejorar el sitio web y evaluar el 
            acceso y uso de los materiales y el impacto de proyecto en la comunidad educativa mundial:
          </p>
          <ul class="list-unstyled">
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              Recopilamos la información que proporciona sobre su uso y satisfacción través del correo electrónico que nos envía, ya sea que incluya 
              voluntariamente su información de contacto o no.
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>	
              Podemos utilizar otras herramientas de análisis web integradas en el sitio web de para medir y recopilar información de sesión anónima.
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              También usamos "cookies" para mejorar su experiencia web y para recopilar información anónima sobre cómo el repositorio. Sin embargo, las cookies
              no son necesarias para el uso de este. Si su navegador está configurado para no aceptar cookies, aún podrá acceder a la aplicación y su contenido.
            </li>
          </ul>
          <p>Cuando informamos información sobre el acceso, el uso y el impacto de OCW, informamos datos agregados que no identifican personalmente. Ocasionalmente, 
            informamos comentarios citados de los usuarios. No atribuimos comentarios a personas específicas a menos que obtengamos permiso para usar el nombre de
            esa persona junto con los comentarios.
          </p>
          <strong>Última actualización: 21/07/2022</strong>
          <h1 class="my-4">Licencia Creative Commons</h1>
          <p xmlns:cc="http://creativecommons.org/ns#" >Los repositorios está bajo licencia 
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref= selector-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
              CC BY-NC-SA 4.0
              <img style="height:22px!important;margin-left:3px ;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
              <img style="height:22px!important;margin-left:3px;vertical-align:text -abajo;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
              <img style="height:22px!important;margin-left:3px;vertical-align:text -abajo;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"> 
              <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
            </a>
          </p>
          <h1 class="my-4">Resumen de la licencia</h1>
          <strong>Eres libre de:</strong>
          <ul class="list-unstyled">
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              <strong>Compartir:</strong>copiar y redistribuir el material en cualquier medio o formato
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              <strong>Adaptar:</strong>remezclar, transformar y construir sobre el material.
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              <strong>Reconocimiento:</strong>debe otorgar el crédito correspondiente,proporcionar un enlace a 
              la licencia e indicar si se realizaron cambios . Puede hacerlo de cualquier manera razonable, pero 
              no de ninguna manera que sugiera que el licenciante lo respalda a usted o su uso.
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              <strong>No comercial:</strong>no puede utilizar el material con fines comerciales.
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              <strong>Comparte igual:</strong>si remezcla, transforma o construye a partir del material, debe distribuir
              sus contribuciones bajo la misma licencia que el original.
            </li>
          </ul>
          <h1 class="my-4">Avisos</h1>
          <ul class="list-unstyled">
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              No tiene que cumplir con la licencia para elementos del material de dominio público o cuando su uso esté permitido por una excepción o limitación aplicable .
            </li>
            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i>
              No se dan garantías. Es posible que la licencia no le otorgue todos los permisos necesarios para el uso previsto. Por ejemplo, otros derechos como la publicidad, 
              la privacidad o los derechos morales pueden limitar la forma en que utiliza el material.
            </li>
          </ul>               
          <h1 class="my-4">Uso del nombre RAep</h1>
          <p>
            “RAep”, “Repositorio Abierto para Estudiantes y Profesores ” y sus logotipos y sellos son marcas comerciales del creador . Excepto para fines de atribución 
            según lo exige nuestra Licencia Creative Commons, no puede usar los nombres o logotipos de RAep, ni ninguna variación de estos, sin el consentimiento previo 
            por escrito. No puede usar el nombre de RAep en ninguna de sus formas ni los sellos o logotipos de RAep con fines promocionales, o de ninguna manera que, de 
            manera deliberada o inadvertida, afirme, sugiera o, a juicio exclusivo de RAep.
          </p>            
        </div>
      </div>       
    </div>
  </div>
</section>
{% endblock%}  
