{% extends 'core/base.html'%}

{% block content%}
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Tipo</h6>
        <h2>Examen/Leccion</h2>
      </div>
    </div>
  </div>
</section>
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
      
            <div class="col-md-2">
            <div class="categories"> 
                <h4>Lista</h4>
                <ul>
                    <li><a href="descriptionRep.html">información</a></li><br> 
                    <li><a href="syllabus.html">Silabo </a></li><br>
                    <li><a href="document.html">Lecturas</a></li><br>
                    <li><a href="document.html">Material </a></li><br>
                </ul>
            </div>
            </div>

            <div class="col-md-6">
                <div class="categories">
                    <div class="thumb">
                        <a href="#"><img src="assets/images/single-meeting.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="meeting-details.html"><h4>Descripcion</h4></a>
                      <p class="description">
                        Descripcion del documento o resumenLorem Ipsum is simply dummy text of 
                          the printing and typesetting industry. Lorem Ipsum has been the industry's
                          standard dummy text ever since the 1500s, when an unknown printer took a 
                          galley of type and scrambled it to make a type specimen book. It has survived
                          not only five centuries, but also the leap into electronic typesetting, remaining
                          essentially unchanged. It was popularised in the 1960s with the release of Letraset
                          sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                          software like Aldus PageMaker including versions of Lorem Ipsum.
                      </p>
                      <div class="row">
    
                        <div class="col-lg-4">
                          <div class="hours">
                            <h5>Fichero </h5>
                            <p>3:00 0000</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="location">
                            <h5>Url</h5>
                            <p>Ups.com</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="book now">
                            <h5>Formato</h5>
                            <p>Pdf</p>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="share">
                            <h5>Tamaño:</h5>
                            <p>100mb</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="main-button-red">
                          <a href="descriptionRep.html">Descargar</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="categories">
                    <div class="col-lg-12">
                        <h4>Informacion curso</h4>
                          <h6>author:</h6>
                          <ul>
                            <li><a href="#">Edison huinaizaca</a></li>
                          </ul> 
                    </div> 
                    <div class="col-lg-12">
                          <h6>Fecha publicacion</h6>
                          <p>10 - Marzo - 2022</p>          
                    </div>
                    <div class="col-lg-12">
                        <h6>Numero de curso</h6>
                        <p>010-020-0340</p> 
                        <h4></h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="share">
                            <div class="calificacion">
                                <h5>Temas Relacionados:</h5>
                                <ul>
                                    <li><a href="list.html">Teama 1</a>-</li>
                                    <li><a href="list.html">temas 2</a>-</li>
                                    <li><a href="list.html">tema 3</a>-</li>
                                    <li><a href="list.html">Tema 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock%}  
