{% extends 'core/base.html'%}
{% load static%}
{% block content %}
  <section class="section main-banner" id="top" data-section="section1">
    <a href="meeting-details.html"><img src="{% static 'core/assets/images/meeting-01.jpg'%}" alt="New Lecturer Meeting"></a>
    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Bienbenido</h6>
              <h2>Razon de la aplicacion</h2>
              <p>
              La razón de la implementación de esta aplicación web es permintir almacenar recursos académicos 
              para poder adaptarse a los tiempos modernos , además de que al implementar esta aplicacion  se está
              aportando a la creación de más contenido útil para el uso de los estudiantes interesados en la autoeducación.
              <a rel="nofollow" href="#" target="_blank">Mas informacion....</a></p>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <div class="section-heading">
             <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Buscar...">
                <a href="list.html" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>

            <h2>Repocitorios</h2>


          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Tendencia</h4>
            {% for temas in temas %}
            <ul>
              <li><a href="#">{{temas.title}}</a></li><br> 
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            {% for temas in temas %}
            {% for material in temas.material.all %}
            {% if material%}
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <a href="descriptionRep.html"><img src="{{material.image.url}}" alt="#"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6> {{material.updated|date:'M'}}<span>{{material.updated|date:'d'}}</span></h6>
                  </div>
                  <a href="#"><h4>{{material.title}}</h4></a>
                  <p>{{material.persona}}</p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
  