
     {% extends 'core/base.html'%}
     {% load static%}
     {% block content %}    
      <section class="pt-6 bg-600">

        <div class="container">
          <div class="row align-items-center">
            <div class=" py-6">
              <h4 class="font-sans-serif">Bienvenido</h4>
              <h5 class="mb-5">Explora los diferentes recursos disponibles en la plataforma</h5>
            </div>
          </div>
        </div>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" style="margin-top:-5.8rem">
        <div class="container">
          <div class="row">
            <div class="card card-span bg-secondary">
              <div class="card-body">
                <div class="row flex-center gx-0">
                  <div class="col-lg-4 col-xl-2 text-center text-xl-start"><img src="{% static 'core/assets/img/gallery/searching.png'%}" width="50" alt="..." /></div>
                  <form class="d-flex my-3 d-block" action="{% url 'list' %}" method="GET" id="buscar" >
                    <input class="form-control" type="text" placeholder="Buscar...."  name="buscar"  id="buscar"></input>
                    <button class="btn btn-outline-primary" type="submit" value="buscar">Buscar</button>        
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>
     
        <div class="container">
          <div class="row ">
            <div class="col-lg-2 ">
              <div class="card">
                <h5 class="my-3 text-center">Temas Relacionados</h5>
                  <ul class="list-group list-group-flush">
                    {% for tema in teamasGeneral.all %} 
                      <li class="list-group-item"><a class="text-info" href="{%url 'list' %}?buscar={{tema.title}}">{{tema.title}}</a></li>
                    {% endfor %}
                    
                  </ul>
              </div>
            </div>

            <div class="col-md-8 col-lg-10">
              <div class="col-lg-12 flex-center d-flex">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cursos</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Recursos</button>
                  </div>
                </nav>
              </div>
                
              <div class="row tab-content"  id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  {% for material in materiales.all %}
                  <div class="col-md-12 mb-4">
                    <div class="card  bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><a class="text-info" href="{% url 'contentDescription' material.id %}"><img src="{{material.image.url}}" width="200" alt="courses" /></a></div>
                          <div class="col-lg-8 col-xl-9">
                            
                            <h4 class="font-sans-serif fw-bold"><a class="text-info" href="{% url 'contentDescription' material.id %}">{{material.title}}</a></h4>
                            <h6 class="font-sans-serif fw-bold">Hecho Por:</h6>
                            <p class="text-muted fs--1"><a class="text-info" href="{%url 'list' %}?buscar={{material.person}}">{{material.person}}</a></p>
                            <h6 class="font-sans-serif fw-bold">Fecha publicación</h6>
                            <p class="text-muted fs--1">{{material.updated|date:'d'}}-{{material.updated|date:'M'}}-{{material.updated|date:'y'}}</p>
                            <div class="card  bg-600">
                              <h6>Temas relacionados:</h6>
                              <ul class="list-group list-group-flush">
                              {% for tema in material.tema.all %}   
                                <li class="list-group-item"><a class="text-info" href="{%url 'list' %}?buscar={{tema.title}}">{{tema.title}}</a></li>
                              {% endfor %}                     
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% for tema in temas.all %}
                  {% for material in tema.material.all %}
                  <div class="col-md-12 mb-4">
                    <div class="card bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="{{material.image.url}}" width="200" alt="courses" /></div>
                          <div class="col-lg-8 col-xl-9">
                              <h4 class="font-sans-serif fw-bold"><a class="text-info" href="{% url 'contentDescription' material.id %}">{{material.title}}</a></h4>
                              <h6 class="font-sans-serif fw-bold">Hecho Por:</h6>
                              <p class="text-muted fs--1"><a class="text-info" href="{%url 'list' %}?buscar={{material.person}}">{{material.person}}</a></p>
                              <h6 class="font-sans-serif fw-bold">Fecha publicación</h6>
                              <p class="text-muted fs--1">{{material.updated|date:'d'}}-{{material.updated|date:'M'}}-{{material.updated|date:'y'}}</p>
                            <div class="card  bg-600">
                              <h6>Temas relacionados:</h6>
                              <ul class="list-group list-group-flush">
                                {% for tema in material.tema.all %}   
                                <li class="list-group-item"><a class="text-info" href="{%url 'list' %}?buscar={{tema.title}}">{{tema.title}}</a></li>
                              {% endfor %}                    
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  {% endfor %}
                  {% endfor %}
                </div>


                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  {% for material in materiales.all %}
                  {% for contenido in material.get_posts.all %}   
                  <div class="col-md-12 mb-4">
                    <div class="card bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><a class="text-info" href="{% url 'content' contenido.id %}"><img src="{{material.image.url}}" width="200" alt="courses" /></a></div>
                          <div class="col-lg-8 col-xl-9">
                            <h5 class="font-sans-serif fw-bold"><a class="text-info" href="{% url 'content' contenido.id %}">{{contenido.name}}</a></h5>
                            <h6 class="font-sans-serif fw-bold">Titulo:</h6>
                            <h4 class="text-muted fs--1"> <a class="text-info" href="{% url 'contentDescription' material.id %}">{{material.title}}</a> </h4>
                            <div class="card  bg-600">
                              <h6>Temas relacionados:</h6>
                              <ul class="list-group list-group-flush">
                              {% for tema in material.tema.all %}   
                                <li class="list-group-item"><a class="text-info" href="{%url 'list' %}?buscar={{tema.title}}">{{tema.title}}</a></li>
                              {% endfor %}                     
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
                  {% for tema in temas.all %}
                  {% for material in tema.material.all %}
                  {% for contenido in material.get_posts.all %}   
                  <div class="col-md-12 mb-4">
                    <div class="card bg-600">
                      <div class="card-body">
                        <div class="row flex-center gx-0">
                          <div class="col-lg-4 col-xl-3 text-center text-xl-start"><a class="text-info" href="{% url 'content' contenido.id %}"><img src="{{material.image.url}}" width="200" alt="courses" /></a></div>
                          <div class="col-lg-8 col-xl-9">
                            <h5 class="font-sans-serif fw-bold"><a class="text-info" href="{% url 'content' contenido.id %}">{{contenido.name}}</a></h5>
                            <h6 class="font-sans-serif fw-bold">Titulo:</h6>
                            <h4 class="text-muted fs--1"> <a class="text-info" href="{% url 'contentDescription' material.id %}">{{material.title}}</a> </h4>
                            <div class="card  bg-600">
                              <h6>Temas relacionados:</h6>
                              <ul class="list-group list-group-flush">
                              {% for tema in material.tema.all %}   
                                <li class="list-group-item"><a class="text-info" href="{%url 'list' %}?buscar={{tema.title}}">{{tema.title}}</a></li>
                              {% endfor %}                     
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}
                </div>

              </div>
            </div>

          </div>
        </div>
        <!-- end of .container-->

      </section>
      {% endblock %}