
{% extends 'core/base.html'%}
{% load static%}
{% block content %}
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Lista</h6>
          <h2>Repocitorios</h2>
        </div>
      </div>
    </div>         
  </section>
  <form action="{%url 'list' %}" method="GET" id="buscar">
 <section class="meetings-page" id="meetings">
        <div class="col-lg-12">
          <div class="section-heading" align="center">
            <h2>Resultados de busqueda</h2>
            <div class="container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                  <input class="search_input" type="text" name="buscar" placeholder="Buscar..." id="buscar">          
                  <input class="searchbar search_icon" type="submit" value="Buscar" >
                </div>
              </div>
          </div> 
         </div>
  </section>
</from>
    {% for tema in temas.all %}
    {% for material in tema.material.all %}
    <section class="meetings-page" id="meetings">
      <div class="container">
        <div class=" col-lg-12">
          <div class="accordions ">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 ">
                  <a href="{% url 'material' material.id %}">
                    <img src="{{material.image.url}} "/>
                  </a>
                </div>
                <div class="col-sm-8">
                  <h6> Repocitorios:</h6>
                  <h5> {{material.title}}</h5>
                  <h6>Fecha:</h6>
                  <p>{{material.updated|date:'d'}}-{{material.updated|date:'M'}}-{{material.updated|date:'y'}}</p>
                  <h6>Nombre del autor:</h6>
                  <p>{{material.persona}}</p>
                  <h6>Temas relacionados:</h6>
                  <a href="#"><p>  {{tema.title}} </p></a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    {% endfor %}
    {% endfor %}
    {% for material in materiales.all %}
    <section class="meetings-page" id="meetings">
      <div class="container">
        <div class=" col-lg-12">
          <div class="accordions ">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 ">
                  <a href="{% url 'material' material.id %}">
                    <img src="{{material.image.url}} "/>
                  </a>
                </div>
                <div class="col-sm-8">
                  <h6> Repocitorios:</h6>
                  <h5> {{material.title}}</h5>
                  <h6>Fecha:</h6>
                  <p>{{material.updated|date:'d'}}-{{material.updated|date:'M'}}-{{material.updated|date:'y'}}</p>
                  <h6>Nombre del autor:</h6>
                  <p>{{material.persona}}</p>
                  <h6>Temas relacionados:</h6>
                  {% for tema in material.get_posts.all %}
                  <a href="#"><p>  {{tema.title}} </p></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    {% endfor %}
{% endblock %}
    