{% extends 'core/base.html' %}
{% block content %}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% for mat in material  %} 
          <h6>Materia</h6>
          <h2>{{mat.title}}</h2>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>       
 <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="categories">
            <h4>Lista</h4>
            <ul>
              <li><a href="descriptionRep.html">Informacion</a></li><br> 
              <li><a href="syllabus.html">Silabo </a></li><br>
              <li><a href="document.html">Lecturas</a></li><br>
              <li><a href="document.html">Material</a></li><br>
            </ul>
          </div>
        </div> 
    <div class="col-lg-9">
              <div class="meeting-single-item">
                <div class="thumb">
                  <a href="#"><img src="#" alt=""></a>
                </div>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>Descripcion</h4></a>
                  <p class="description">
                    5               
                  </p>
                  
                  <div class="col-lg-4">
                    <div class="author">
                      <h5>author:</h5><br>
                      <ul>
                        <li><a href="list.html"></a>5</li>
    
                      </ul>
                    </div>
                  </div> 


                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Fecha publicacion</h5>
                        <p>5</p>
                      </div>
                    </div>
              
                    <div class="col-lg-4">
                      <div class="curso">
                        <h5>Numero de curso</h5>
                        <p>9</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="disponibles">
                        <h5>Documentos disponibles</h5>
                        <p>20 </p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="share">
                        <h5>Teamas Relacionados:</h5><br>
                        <ul>
                          <li><a href="list.html">Teama 1</a>-</li>
                          <li><a href="list.html">temas 2</a>-</li>
                          <li><a href="list.html">tema 3</a>-</li>
                          <li><a href="list.html">Tema 4</a></li>
                        </ul>
                      </div>
                    </div>
                  
                      <div class="col-lg-12">
                        <div class="share">
                        <div class="calificacion">
                          <h5>Calificacion: </h5>
                          <ul>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                          </ul>
                        </div>
                      </div>
                      </div> 
                </div>
                </div>
              </div>
            </div>
           
      </div>
    </div>

  </section>
  
{% endblock%}  
  